#top-page {
    width: 300px;
    margin: auto;

}

#img12 {
    width: 140px;
    height: 100px;
    border-radius: 16px;

}

h4 {
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}

p {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;

    padding: 0px;
    margin-left: 30px;
    margin-top: 5px;

}

#btn1 {

    position: absolute;
    width: 70px;
    height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border-radius: 13px;
    border: 2px solid grey;
    left: 400px;

    text-align: center;
    background-color: rgb(173, 169, 169);
}

#btn2 {
    position: absolute;
    width: 80px;
    height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border-radius: 13px;
    border: 2px solid grey;
    left: 520px;

    text-align: center;
    background-color: rgb(173, 169, 169);
}

#btn3 {
    position: absolute;
    width: 80px;
    height: 60px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border-radius: 13px;
    border: 2px solid grey;
    left: 650px;

    text-align: center;
    background-color: rgb(173, 169, 169);
}

#img-sec {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px;
    grid-gap: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    margin: 60px;
    grid-gap: 160px;



}

#img1 img {

    width: 300px;
    height: 400px;
    margin-left: -70px;
    border-radius: 16px;


}

#img2 img {

    grid-column: 190px;
    height: 400px;

    margin-right: 20px;
    border-radius: 16px;


}

#img3 img {

    grid-column: 1 / span 3;
    height: 400px;
    margin-top: 150px;
    margin-left: -70px;
    border-radius: 16px;
}

#img4 img {
    grid-column: 1/ span 2;
    height: 680px;
    margin-top: 150px;
    margin-left: 530px;
    border-radius: 16px;

}

#img6 img {
    grid-column: 300px;
    height: 280px;
    margin-top: 300px;
    margin-left: -70px;
    border-radius: 16px;

}

#img5 img {
    width: 500px;
    height: 270px;
    box-sizing: border-box;



    margin-top: 300px;
    margin-left: 2px;
    border-radius: 16px;

}

@media only screen and (max-width: 330px) {

    #top-page h4,
    p {
        display: flex;

        justify-content: center;

    }

    #img12 {
        margin-left: 30%;
    }

    #btn1 {

        position: absolute;
        width: 50px;
        height: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        border-radius: 13px;
        border: 2px solid grey;
        left: 60px;
        background-color: rgb(173, 169, 169);
    }

    #btn2 {
        position: absolute;
        width: 65px;
        height: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        border-radius: 13px;
        border: 2px solid grey;
        left: 120px;

        text-align: center;
        background-color: rgb(173, 169, 169);
    }

    #btn3 {
        position: absolute;
        width: 69px;
        height: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        border-radius: 13px;
        border: 2px solid grey;
        left: 195px;

        text-align: center;
        background-color: rgb(173, 169, 169);
    }
    #img-sec {
    display: grid;
    grid-template-rows: 20px 20px 40px;
    grid-template-columns: 30px 5px;
   
    background-repeat: no-repeat;
    background-size: cover;
   
    grid-gap:5px;



}

    #img1 img {
        width: 100px;
        height: 100px;
        margin-left: -70px;
        border-radius: 16px;

    }

    #img2 img {

        width: 190px;
        height: 100px;

       
        border-radius: 12px;


    }

    #img3 img {

        width: 200px;
        height: 90px;
        margin-top: 80px;
        margin-left: -70px;
        border-radius: 16px;
    }
    #img4 img {
    width: 100px;
    height: 200px;
    margin-top: 80px;
    margin-left:100px;
    border-radius: 16px;

}
#img6 img {
    grid-column:100px;
    height: 100px;
    margin-top: 150px;
    margin-left: -70px;
    border-radius: 16px;

}

#img5 img {
    width: 90px;
    height: 100px;
    box-sizing: border-box;



    margin-top: 150px;
    margin-left: 2px;
    border-radius: 16px;

}

}